/* style.css: overriding existing scss classes with important, since it is not possible to recompile due to CDN */

/* css til at undgå at cms css'et vises som enormt småt */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  line-height: 1.6 !important;
  color: #233249 !important;
}

/* joomla's wrapper */
.page-wrapper {
  background-color: #343a40 !important;
}
/* .searchFld,
.searchBtn {
  height: 3rem;
} */
/* .searchFld {
  width: 30rem !important;
} */

.btn-custom {
  color: red !important;
  background-color: white !important;
  border-color: white !important;
  font-weight: bold !important;
  /* text-transform: uppercase !important; */
}

/* rykker navbar helt til venstre */
/* .row {
  --bs-gutter-x: 0rem !important;
} */

.rounded-custom {
  border-radius: 10px;
}
.carousel img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 30rem;
  width: 100%;
}

/* Cards */
.card-text {
  font-size: 1rem;
}
/* .embed-responsive .card-img-top {
  object-fit: cover;
  object-position: center; 
} */

.card-img-top {
  height: 20rem;
  object-fit: cover;
  object-position: center;
}
.card {
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  /* color: #ea4e44 !important; */
}

.card:hover .card-title {
  color: #ea4e44 !important;
}

/* Multi carousel */
/* Tried this, did not work: https://www.codeply.com/p/0CWffz76Q9 */

/* Icons */
.bi {
  color: #ced4da;
  font-size: 4rem;
}
.bi:hover {
  color: white;
}
